
events {
    worker_connections   1024;
}

http {
  server {
    listen        {{PORT}};

    # This is scary, there is a last letter bug in nginx
    # https://trac.nginx.org/nginx/ticket/97 
   location {{BASE_ROUTE}} {
          autoindex on;
          alias  {{CONTENT_FOLDER}};

      } 
     
  }  
}

daemon off;
