
events {
    worker_connections   1024;
}

http {
	server {
  	listen        {{PORT}};

 	 	location {{BASE_ROUTE}} {
    			autoindex on;
    			alias  {{CONTENT_FOLDER}};

  		} 
	   
	}	
}

daemon off;
