
events {
    worker_connections   1024;
}

http {
	server {
  	listen        {{PORT}};

 	 	location / {
    			autoindex on;
    			root  /home/brad/automate/hippo/server/data-sample;

  		} 
	   
	}	
}

daemon off;
